.navbar {
    padding: 10px 15px;
    background-color: var(--background-2);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.homeLink {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: var(--font-color-1);
}

.homeLink h2 {
    margin: 0;
}

.homeLink img {
    width: 40px;
}

.link {
    color: var(--font-color-1);
    text-decoration: none;
}

.link:hover, .link:focus {
    text-decoration: underline;
    color: var(--font-color-2);
}